**/.JETEmitters/
**/.Java/
**/.metadata/
**/temp/
**/sqlPatterns/
**/jobInfo.properties
**/*.screenshot
**/*.class
**/jobs/process/**/target/
**/code/routines/target/
**/poms/**/*.item
**/poms/**/*.project
**/*.log
**/poms/**/ext-resources/xmlMappings/*.*